@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .page {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        background-color: #f8f9fa;
        padding: 10px;
    }

    .top-row {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .content {
        flex-grow: 1;
    }
</style>
