<aside>
    <nav>
        <ul>
            <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink href="orden-trabajo">Orden de Trabajo</NavLink></li>
        </ul>
    </nav>
</aside>

<style>
    aside {
        padding: 1rem;
        background-color: #f8f9fa;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        margin: 0.5rem 0;
    }

    nav a {
        text-decoration: none;
        color: #007bff;
    }

        nav a:hover {
            text-decoration: underline;
        }
</style>
